@font-face {
    font-family:'RobotoMono';
    src:url('./fonts/RobotoMono-Thin.ttf');
}
* {
    font-family:'RobotoMono',monospace;
}
body {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    text-align: center;

    color:#fff;
    background-image:linear-gradient(to right, rgb(179, 255, 171), rgb(18, 255, 247));
}